button {
  border: none;
  background: none;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--gray-800);
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

input, textarea {
  border: none;
  outline: none;
}
